@model ProyectoGatitos.Models.AdopcionDTOs.ProductoDTO

@{
    ViewData["Title"] = "Crear Producto";
}

<h2 class="mb-4">Crear Producto</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group mb-4">
        <label asp-for="Nombre" class="control-label mb-2"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="form-group mb-4">
        <label asp-for="Precio" class="control-label mb-2"></label>
        <input asp-for="Precio" class="form-control" />
        <span asp-validation-for="Precio" class="text-danger"></span>
    </div>

    @* <div class="form-group form-check mb-4">
    <input asp-for="EnStock" class="form-check-input" />
    <label asp-for="EnStock" class="form-check-label"></label>
    </div> *@

    <div class="form-group mb-4">
        <label asp-for="Descripcion" class="control-label mb-2"></label>
        <textarea asp-for="Descripcion" class="form-control" rows="4"></textarea>
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>

    <div class="form-group mb-4">
        <label class="control-label mb-2">Fotos:</label>
        <input type="file" name="Fotos" accept="image/jpeg, image/png" multiple class="mb-2" />
        <small class="text-muted d-block">Formatos permitidos: JPG, JPEG, PNG. Tamaño máximo por imagen: 2MB.</small>
    </div>

    <div class="form-group mt-4 pt-3">
        <button type="submit" class="btn btn-primary me-3">Guardar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}